
#navBar {
    list-style-type: none;
    width: 100%;
    height: 40px;
    margin-top: 0;
}

.listElem {
    
    display: inline;
    padding: 10px;
    border-color: black;
    border-right:1px solid #bbb;
}

