.main {
    position: fixed; 
    top: 30%;
    left:40%; 
    height: 50;
    border-radius: 30px
}

.inputForm {
    background: red; 
    height: 350px; 
    width: 300px;
    border-radius: 30px
}

.elem {
    margin-top: 20px;
}

.header {
    background: #005EFF;
    height: 150px;
    width: 100%;
    color: #FFEA47;
}